$price-tag__width-after: 10px;

.twitter {
    width: 0;
    height: 0;
    position: relative;

    &__price-tag {
        z-index: 5;
        width: 200px;
        display: flex;
        align-items: center;
        height: 32px;
        border-radius: 4px 4px 4px 0;
        background: #3b3c4e;
        position: absolute;
        top: -25px;
        left: -27px;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            border-left: $price-tag__width-after solid transparent;
            border-top: 5px solid #585963;
            left: 0px;
            top: 31px;
        }

        &-price {
            margin-left: 5px;
            color: white;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.twitter-vault-card {
    border: 1px solid #2d74c4;
    border-radius: 20px;
    width: 150px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.twitter-button {
    border: none;
    outline: none;
    background-color: #2d74c4;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 16px;
}

@media screen and (max-width: "1000px") {
    .twitter {
        &__price-tag {
            &::after {
                display: none;
            }
        }
    }
    .card-body {
        padding: 40px 15px 15px;
    }
}
